
.env
*.log
*.pot
# Django-related
*.pyc
*.pyo
*.pyd
__pycache__
__pycache__/
*.sqlite3
*.pyc
*.bak
*.swp

# Static files
/staticfiles/
*.static

# Media files
media
/media/

# Virtual environment
myenv/
